.login-container{
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
 
}
.custom-width{
  width: 100%;
}
.login-content{
  width: 400px;
  display: block;
  margin: 0 auto;
}
.mat-form-field {
  width: 100%;
  display: block;
}
.forgot-btn{
  margin-left: 250px;
}
.forgotpassword{
  margin-left: 240px;
}