<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">

          <div class="login-container">
            <div class="login-content">
              <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>

              <form>


                <mat-icon matPrefix>person_outline</mat-icon>
                <input autofocus type="text" matInput placeholder="Username" formControlName="email">

                <br>

                <mat-icon matPrefix>lock_outline</mat-icon>
                <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
                <br>

                <button type="submit" mat-raised-button color="primary">LOGIN</button>
              </form>

              <br>
              <span> If You don't have a account yet please <a routerLink='/register'>REGISTER HERE</a></span> -->




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>