<div class="login-container">
  <div class="login-content">
      <mat-toolbar color=”primary” class="login-toolbar">
          <span>Login</span>
      </mat-toolbar>
      <mat-card>
          <mat-card-content>
              <form>
                  <mat-form-field appearance="outline" class="custom-width">
                      <mat-icon matPrefix>person_outline</mat-icon>
                      <input matInput placeholder="Email*" type="text">
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline" class="custom-width">
                      <mat-icon matPrefix>lock_outline</mat-icon>
                      <input matInput placeholder="Password*" type="password">
                  </mat-form-field>
  
                  <div>
                      <button mat-raised-button color="primary">Login</button>
                  </div>
              </form>
          </mat-card-content>

      </mat-card>
  </div>
</div>