<div class="login-container">
    <div class="login-content">
        <mat-toolbar color=”primary” class="login-toolbar">
            <span>Reset Password</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input matInput placeholder="Enter New Password*" type="text" formControlName="email">
                        <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input matInput placeholder="Enter Confirm Password*" type="password" formControlName="password">
                        <mat-error *ngIf="hasError('password', 'required')"> confirm password is required</mat-error>
                    </mat-form-field>
                    <br>
                    <div>
                        <button mat-raised-button color="primary">Reset Password</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
