    <!-- <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>PMS</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" routerLink="login">Login</button>
        <button mat-raised-button color="primary" routerLink="register">Register</button>
    </mat-toolbar>
<div class="title">
    welcome to PMS
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
