<div class="registration-container">
    <div class="registration-content">
        <mat-toolbar color=”primary” class="register-toolbar">
            <span>Registration</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <form>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input matInput placeholder="FirstName*" type="text">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input matInput placeholder="LastName*" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput placeholder="Email*" type="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix> call</mat-icon>
                        <input matInput placeholder="CotactNumber*" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input matInput placeholder="Password*" type="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input matInput placeholder="Confirm Password*" type="password">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
            </mat-card-content>    
        </mat-card>
    </div>
</div>