.registration-container{
    margin-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}
.custom-width{
    width: 100%;
}
.registration-content{
    width: 400px;
    display: block;
    margin: 0 auto;
}
.mat-form-field {
    width: 100%;
    display: block;
  }
  .back{
    margin-left: 300px;
   }
