<div class="login-container">
    <div class="login-content">
        <mat-toolbar color=”primary” class="login-toolbar">
            <span>Forgot Password</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                    <mat-form-field appearance="outline" class="custom-width">
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput placeholder="Enter Email*" type="text" formControlName="email">
                        <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                        <mat-error *ngIf="hasError('email', 'pattern')">Email is invalid</mat-error>
                    </mat-form-field>
                    <br>
                    <div>
                        <button mat-raised-button color="primary">Forgot Password</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>