<!-- <mat-toolbar color="primary">
    <mat-toolbar-row >
        <h3>PMS</h3>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <button mat-raised-button color="primary" routerLink='/angular-material'
            routerLinkActive="active"></button> -->
<!-- 
        <span class="spacer"></span>
        <div class="btn">

            <button mat-button color="accent">LogIn</button>
            <button mat-button color="accent">Register</button>


        </div>
    </mat-toolbar-row>
</mat-toolbar> -->