.spacer {
    flex: 1 1 auto;
  }
  .active {
     background-color: darkblue;
      color: white;
  }
  h3{
    padding-top: 50px
    ;
  }
  .btn{
    padding-bottom: 50px;
  }
  p {
    font-family: Lato;
  }
  .title{
    text-align: center;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .login-btn{
    margin-right: 10px;
  }